.app {
  background: #888;
  max-width: 456px;
  width: 100%;
  max-height: 598px;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr repeat(5, 2fr);
  grid-gap: 2px;
  padding: 2px;
  margin: 10px auto;
}